extends layout

block content
	.layout
		.circ 0
		.logo ShapeLoop
		.prop Propoganda
		.sqr1 Square One
		.sqr2 Square two
		.sqr3 Square three
		.sqr4 Square four
		.sqr5 Square five
		.sqr6 Square six
		.midl Mdl
		.mone Module One
		.mtwo Module Two
		.mthr Module Three
		.mfor Module Four
		.sqr7 Square Seven
		.sqr8 Square Eight
		.sqr9 Square Nine
		.sq10 Square Ten
		.rpad Rpad
		.rbox Rbox
